<a href="https://colab.research.google.com/github/anshatwork-007/Types-of-Loops-in-Python/blob/main/Experiment_7_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Ansh Yadav
# Branch: ENTC
# Batch: 2025-29
# Experiment 7

## Title: Types of Loops in Python

In [ ]:
# While loop
# print 1 as long as its less than 6
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# print numbers from 1 to N
N = int(input("Enter a number: "))
i = 1
while i <= N:
  print(i)
  i += 1

Enter a number: 7
1
2
3
4
5
6
7

In [ ]:
# Factorial of a number
f = 1
i = 1
N = int(input("Enter a number: "))
while i <= N:
  f=f*i
  i += 1
print(f)

Enter a number: 5
120

In [ ]:
# Fibonacci Series using while loop
a = 0
b = 1
N = int(input("Enter interation: "))
while N > 0:
   print(a, end=" ") # end =" " is being used to get answer in one line and there will be space between them
   c = a + b
   a = b
   b = c
   N -= 1

Enter interation: 7
0 1 1 2 3 5 8

In [ ]:
# Reverse a number

N = int(input("ENter a number: "))
rev = 0
while N > 0:
  digit = N % 10
  rev = rev * 10 + digit
  N //= 10

print("Reversed number = ", rev)

ENter a number: 2345678
Reversed number =  8765432

In [ ]:
# Check Palidrome number
N = int(input("Enter a number: "))
temp = N
rev = 0
while temp > 0:
  digit = temp % 10
  rev = rev * 10 + digit
  temp //= 10
print("Reversed Number = ", rev)
if rev == N:
   print("Number is palindrome")
else:
 print("Number is not palindrome")

Enter a number: 123
Reversed Number =  321
Number is not palindrome

In [ ]:
# Check for palindrome characters
N = int(input("Enter a number: "))

In [ ]:
# count digits in a number
N = int(input("Enter a number: "))
count = 0

if N == 0:
    count = 1
else:
    while N > 0:
        count += 1
        N //= 10

print("Number of digits =", count)

Enter a number: 1223445
Number of digits = 7

## Break Statement

### with it we can stop loop even if while loop is true

In [ ]:
# Exit the loop when 1 is 3

i =1
while i<6:
  print(i)
  if i == 3:
    break
  i +=1

1
2
3

In [ ]:
# search an element in a list

nums = [10, 20, 30, 40, 50]
N = int(input("Enter a number: "))
i = 0
while i<len(nums):
  if nums[i] == N:
    print("Element found in index",i)
    break
  i +=1
else:
  print("Elemnet no found")

Enter a number: 10
Element found in index 0

In [ ]:
# Print number 1 to 10 and skip 5

i = 1

while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
6
7
8
9
10

In [ ]:
# print only odd numbers from 1 to 10

i = 1

while i <= 10:
    if i % 2 == 0:
        i += 1
        continue
    print(i, end=" ")
    i += 1

1 3 5 7 9

# Loop

### A loop is used to repeat a block code of each element in a sequence

In [ ]:
# Printy a number from 1 to 5
print(range(1,6))

range(1, 6)

In [ ]:
# For loop using break, continue and pass function works same as while loop

In [ ]:
# Print even number from 1 to 10
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
# Print sum of first N numbers using
N=int(input("Enter a number"))
total = 0

for i in range(1,N+1):
    total += i

print("Sum= ",total)

Enter a number12
Sum=  78

In [ ]:
# Nested for loop
for i in range(1,4):
  for j in range (1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3x3 matrix display
A = [[1,2,3], [4,5,6], [7,8,9]]

for i in range(3):
    for j in range(3):
        print(A[i][j], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
# Multiplication of 3x3 matrices

A = [[1,2,3], [4,5,6], [1,2,1]]

B = [[1,1,1], [6,5,4], [1,2,1]]

result = [[0,0,0], [0,0,0], [0,0,0]]

for i in range(3):
    for j in range(3):
        for k in range(3):
            result[i][j] += A[i][k] * B[k][j]

print("Product of matrices:")
for row in result:
    print(row)

Product of matrices:
[16, 17, 12]
[40, 41, 30]
[14, 13, 10]

In [ ]:
# Multiplication of matrices where code can recognise 2x3, 3x2, 3x3 matrix

A = [[1,2], [4,5], [1,2]]
B = [[1,2,3], [4,5,6]]

result1 = [[0,0,0], [0,0,0], [0,0,0]]   # 3x3
result2 = [[0,0,0], [0,0,0]]           # 2x3
result3 = [[0,0], [0,0], [0,0]]        # 3x2

# Select correct result matrix
if len(A) == 3 and len(B[0]) == 3:
    result = result1
elif len(A) == 2 and len(B[0]) == 3:
    result = result2
elif len(A) == 3 and len(B[0]) == 2:
    result = result3

# Matrix multiplication
for i in range(len(A)):
    for j in range(len(B[0])):
        for k in range(len(B)):
            result[i][j] += A[i][k] * B[k][j]

print("Product of matrices:")
for row in result:
    print(row)

Product of matrices:
[9, 12, 15]
[24, 33, 42]
[9, 12, 15]

In [ ]:
# Python Program to accept 3 digits and print all possible combinations

a = int(input("Enter first digit: "))
b = int(input("Enter second digit: "))
c = int(input("Enter third digit: "))

d = [a,b,c]

for i in range(3):
    for j in range(3):
        for k in range(3):
          if (i != j and j != k and i != k):
             print(d[i], d[j], d[k])

Enter first digit: 2
Enter second digit: 3
Enter third digit: 4
2 3 4
2 4 3
3 2 4
3 4 2
4 2 3
4 3 2

In [ ]:
# Check whether its armstrong number or not

A = int(input("Enter a number: "))
total = 0

for digit in str(A):
  total += int(digit) ** len(str(A))

if total == A:
    print("Number is armstrong")
else:
    print("Number is not armstrong")

Enter a number: 153
Number is armstrong

In [ ]:
# Print all prime number in range

A = int(input("Enter a number: "))
B = int(input("Enter a number: "))

for num in range(A, B):
  for i in range(2, num):
    if num % i == 0:
      break

  else:
     print(num)

Enter a number: 2
Enter a number: 49
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# Print inverted triangle

n = 5
for i in range(n):
  print(i*' ', (n-i)*' $')

  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $

In [ ]:
# Print triangle

n = 5
for i in range(n):
  print((n-i)*' ', (i+1)*' $')

       $
      $ $
     $ $ $
    $ $ $ $
   $ $ $ $ $

In [ ]:
# Print right angled triangle

n = 5
for i in range(n):
  print((i+1)*' $')

 $
 $ $
 $ $ $
 $ $ $ $
 $ $ $ $ $

In [ ]:
# Hourglass

n = 5
for i in range(n):
  print(i*' ', (n-i)*' $')


n = 5
for i in range(n):
  print((n-i-1)*' ', (i+1)*' $')

  $ $ $ $ $
   $ $ $ $
    $ $ $
     $ $
      $
      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $

In [ ]:
# Pascal Triangle

n = 10

for i in range(n):
    num = 1
    print(" " * (n - i), end="")   # spaces for alignment

    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)

    print()

          1
         1 1
        1 2 1
       1 3 3 1
      1 4 6 4 1
     1 5 10 10 5 1
    1 6 15 20 15 6 1
   1 7 21 35 35 21 7 1
  1 8 28 56 70 56 28 8 1
 1 9 36 84 126 126 84 36 9 1